<div class="container">
  <div class="jumbotron transparent-bg text-center">
    <h1 class="text-head">CONFIRM PLAYERS</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">PLAYER 1</h3>
      <h3 class="text-center">WUTZA</h3>
      <h4 class="text-center">Username : wutkak</h4>
    </div>



    <div class="col-md-6">
      <h3 class="text-center">PLAYER 2</h3>
      <h3 class="text-center">MINGMONSUAY</h3>
      <h4 class="text-center">Username : mingmon</h4>
    </div>
  </div>

  <div class="col-md-12">

    <div class="col-md-2 col-md-offset-4">
  <button class="btn pink" routerLink = "/win">Continue</button>      
    </div>

    <div class="col-md-2">
      <button class="btn yellow"routerLink = "/first">Reset</button>      
        </div>

</div>

</div>